/* Background Color Styling */
#sedancard {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
}

#suvcard {
    background-color: hsl(184, 100%, 22%);
}

#luxurycard {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
}

/* Flexbox */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125em;
    height: 60em;

}

/* Section Styling */
.card {
    padding: 3em;
    width: 15em;
    height: 28em;

}

/* Paragraph Styling */
p {
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    width: 14em;
    margin-bottom: 7em;
}

/* Title Styling */
h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 2.3em;
}

/* Button Styling */
button {

    border: 3px solid white;
    font-size: 15px;
    border-radius: 8em;
    padding: .8em;
    font-family: 'Lexend Deca', sans-serif;
    width: 10em;
    height: 3.4em;
}
.sedanButton {
    color:hsl(31, 77%, 52%);
}

.suvButton {
    color: hsl(184, 100%, 22%);
}

.luxuryButton {
    color: hsl(179, 100%, 13%);
}

button:hover {
    background-color: transparent;
    color: white !important;
}

/* Smartphones */
@media(max-width: 500px) {

body {
    background-color: tomato;
}

}