* {
  font-family: Arial, Helvetica, sans-serif;
}

.searchContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageContainer {
  object-fit: contain;
  height: 500px;
  width: 400px;
}
.imageContainerCart {
  object-fit: contain;
  height: 100px;
  width: 100px;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputText {
  margin-top: 14px;
  padding: 5px;
  margin-bottom: 10px;
}

.logo {
  margin-top: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.productName {
  font-size: 18px;
  align-items: center;
  text-decoration: none;
}
.productPrice {
  font-size: 18px;
  align-items: center;
  text-decoration: none;
  margin-top: 0px;
}

button {
  background-color: black; /* Green */
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.addButton {
  background-color: black; /* Green */
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 120px;
}

.merchandise {
  padding-top: 70px;
  padding-bottom: 15px;
  font-family: condensed;
}
.lDre {
  padding-top: 200px;

  font-family: "Pacifico", cursive;
  font-size: 70px;
  padding-bottom: 5px;
}
