.commentPost {
  background-color: black;
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
}
.iconNameButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}

.followButton {
  background-color: white;
  border-radius: 0.9em;
  color: black;
  border-color: white;
  border-width: 1px;
  margin-top: 15px;
  width: 100px;
  height: 30px;
}

.followButtonContainer {
  display: flex;
  justify-content: center;
}

.commentContent {
  color: white;
  padding-left: 100px;
}

.profileName {
  color: white;
  padding-right: 980px;
}

.profileNameTwo {
  padding-left: 90px;
}
