@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  .middleNavList {
    margin-left: -32px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: 15px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
  }
  .middleNavItem {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (min-device-width: 1080px) and (max-device-height: 1440px) {
  .middleNavList {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;
    background-color: black;
    color: white;
    font-size: 14px;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .middleNavItem {
    padding-top: 100px;
  }
}
