.middleNavList {
  display: flex;
  flex-direction: row;
  margin-left: 450px;
  margin-right: 450px;
  background-color: black;
  color: white;
  font-size: 14px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.middleNavItem {
  padding-top: 100px;
}
